body {
    margin: 0px;
    padding: 0px;
    background-color: B3B4BD;
}

.warning-text {
    color: red;
    font-weight: bold;
}

.flex-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0px;
    margin: 0px;
    height: 95vh;
}



.flex-box > div {
    width: 100vw;
    text-align: center;
}

html, body {
    height: 100vh;
    margin: 0px;
}

.form-background {
    position: relative;
    margin: 0vw;
}

.popup {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: red;
    text-align: center;
    padding: 20px;
    z-index: 1000;
    display: none;
}

.popup p {
    margin: 0;
}

td {
    border: 1px solid black;
}
