ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: green;
  height: 5vh;
}
li {
  float: left;
}

li:first-child {
    margin-left: 1vw;
}
li:last-child {
    float: right;
    margin-right: 1vw;
}

li a {
    display:flex;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    justify-content: center;
    align-items: center;
    color:white;
    text-decoration: none;
    height: 100%;
}

li a:hover {
    background-color: orange;
}
